body {
  margin: 100px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  padding: 25px;
  margin: 0 auto;
  width: 30%;
  background-color: white;
}
.newItem {
  /* border: solid yellow; */
  padding: 10px 0px 20px 0px;
}
.toDoList {
  /* border: solid blue; */
}
.toDoItem {
  /* border: solid red; */

}
